# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# dotenv (nunca subas variables sensibles)
.env

# IDEs / editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistemas operativos
.DS_Store
Thumbs.db

# Output de test/coverage
coverage/
